@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

body {
    margin: 0;
    background-color: #FBF1F1;;
}

h1 {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #241E1F;
    margin: 0;
}

h2 {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #241E1F;
    margin: 0;
}

h3 {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

p, a {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #241E1F;
    margin: 0;
}

header {
    width: 100%;
    background-image: url(../img/fon.png);
    padding-bottom: 120px;
}

.header {
    width: 100%;
    margin: 40 auto 0 auto;
}

.menu {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(4.5px);
}

.header img {
    margin: 0px auto 24px auto;
    width: 180px;
    height: 55px;
    align-items: center;
    display: flex;
    padding-top: 40px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    text-decoration: none;
    height: auto;
    padding: 60px;
}

header ul li {
    text-decoration: none;
    list-style-type: none;
}

.slogon {
    width: 50%;
    margin: 120px auto 60px auto;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(40px);
    height: auto;
    padding: 32px;
}

button {
    width: 250px;
    height: 55px;
    background: #EDCECB;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    align-items: center;
    display: flex;
}

button p {
    text-align: center;
    margin: auto;
}

.icon {
    width: 280px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advs-icon {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.icon img {
    width: 100px;
    height: 90px;
}

.adv h2 {
    margin-bottom: 80px;
}

.adv {
    padding: 120px 0;
}

.about-us {
    background-image: url(../img/fon2.png);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;
}

.about {
    box-sizing: border-box;
    width: 60%;
    background: rgba(251, 241, 241, 0.01);
    border: 1px solid #FBF1F1;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 100px 100px 100px;
    margin: 20px 0;
}

.about h2 {
    color: #FFFFFF;
}

.dress {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.silyet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 80px auto 0 auto;
}

.dresses {
    padding: 120px 0;
}

.razd {
    width: 20%;
    align-items: center;
    display: flex;
    margin: 0 auto 120px auto;
}

.images1 {
    background-image: url(../img/card1.png);
    width: 280px;
    height: 370px;
    border-radius: 8px;
}

.images2 {
    background-image: url(../img/card2.png);
    width: 280px;
    height: 370px;
    border-radius: 8px;
}

.images3 {
    background-image: url(../img/card3.png);
    width: 280px;
    height: 370px;
    border-radius: 8px;
}

.images4 {
    background-image: url(../img/card4.png);
    width: 280px;
    height: 370px;
    border-radius: 8px;
}

.card img {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 238px;
}

.price {
    width: 280px;
    height: auto;
    background: #EABBC4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.pr {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.line {
    text-decoration-line: line-through;
    margin-right: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    margin: 80px auto 40px auto;
    gap: 20px;
}

.circle {
    background: #CDC9A8;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }

.circles {
    width: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 80px auto;
}

.form01 {
    width: 100%;
    background-image: url(../img/fon3.png);
    padding-top: 120px;
    margin-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.form-first {
    width: 50%;
    height: 610px;
    margin-left: 20%;
    display: flex;
    flex-direction: column
}

.form-first img {
    width: 120px;
    height: 123px;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.green {
    background: rgba(107, 116, 93, 0.5);
    backdrop-filter: blur(12px);
    border-radius: 8px;
    width: 90%;
    align-items: center;
    margin: auto;
}

input {
    width: 80%;
    height: 40px;
    background: #FBF1F1;
    border-radius: 8px;
    text-decoration: none;
    list-style-type: none;
    margin: 10px auto;
    align-items: center;
    display: flex;
}

.green h3 {
    margin: 0 40px 20px 40px;
}

.green button {
    margin-top: 50px;
}

.image1 {
    background-image: url(../img/01.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image2 {
    background-image: url(../img/02.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image3 {
    background-image: url(../img/03.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image4 {
    background-image: url(../img/04.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image5 {
    background-image: url(../img/05.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image6 {
    background-image: url(../img/06.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image7 {
    background-image: url(../img/07.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.image8 {
    background-image: url(../img/08.png);
    width: 280px;
    height: 370px;
    border-radius: 8px; 
}

.catalog button {
    margin-top: 80px;
}